<!DOCTYPE html>
<html lang="en">
<head>
    <head profile="images.1/appIcon.png">
        <%- include('./partials/header.ejs')%>
        <title>API </title>
        <base href="/">
      </head>
</head>
<body>
    <a href="/">go back</a>
    <h1>Api</h1>
    <%- include('./partials/footer.ejs')%>
    <%- include('./partials/scripts.ejs')%>

</body>
</html>