<!DOCTYPE html>
<html lang="en" id="html">
    <head profile="images.1/appIcon.png">
        <%- include('./partials/header.ejs')%>
        <title>Support</title>
      </head>
<body style="background-color: black;" id="body">

    <!--nav bar-->
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-3 about-nav z-setting">
              <div class="container-fluid" style="text-transform: uppercase;">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    
                    <li class="nav-item" id="#el">
                      <a class="nav-link" href="/about">about</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="/categories">categories</a>
                    </li>
                  
                    <li class="nav-item">
                      <a class="nav-link active" href="#">contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/api">API</a>
                    </li>

        
                  
                  </ul>
              
                </div>
                <a class="navbar-brand ms-auto" href="#" id="right-side">Conspi Archive</a>
              </div>
          </nav>



          <div class="bg-image index-bg-img d-flex align-items-center z-setting" 
          style="background-image: url('images.1/joan-gamell-nFqwVZhimpM-unsplash.jpg');
          height: 100vh ; width: 100vw">
          
              <div class="container p-5 p-lg-0 pt-lg-5 text-sm-start text-light pb-lg-5 d-flex">
                  <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="row align-items-center " >
                      
                      
                        <div class="mx-4 my-5 col conspi-header lead text-start">
                          <h1 class="line-3 anima-typewriter" style="font-size: 2.5rem;">Contact</h1>
                          <p class="my-4 subtitle-contact" style="font: size 7vw; color: transparent;">
                              Need help or have a suggestion?
                          </p>

                          <p class="my-4 subtitle-contactt" style="font: size 7vw; color: transparent;">
                            Scroll down
                        </p>
          
          
                        </div>
          
          
                    </div>
          
          
                  
                  </div>
          
              </div>
          
          </div>
          

  <!--contact-->
  <div class="container-fluid overflow-hidden bg-light pt-lg-5 support-text support-main z-setting" style="background-color: black;">
    <div class="row  overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0  d-flex sticky-top" >
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-4 pt-4 text-white">

                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start text-light" id="menu" >
                    <li class=" ">
                        <a href="#contact" class="nav-link px-sm-0 px-2 link-dark lead span-2" id="#el">
                            <i class="bi bi-telephone  span-2"></i><span class="ms-1 d-none d-sm-inline span-2" > Contact</span>
                        </a>
                    </li>


                    



                    <li class="">
                        <a href="#Support" class="nav-link px-sm-0 px-2 lead link-dark span-2" id="#el">
                            <i class="bi bi-activity  span-2"></i><span class="span-2 ms-1 d-none d-sm-inline"> Support</span></a>
                    </li>

                    <li class="">
                      <a href="#suggestion" class="nav-link px-sm-0 px-2 lead link-dark span-3" id="#el">
                          <i class="bi bi-lightbulb   span-3"></i><span class="span-3 ms-1 d-none d-sm-inline"> Suggestions</span></a>
                  </li>

                </ul>

            </div>
        </div>
        <div class="col d-flex flex-column  bg-light text-dark support-main z-setting">
            <section class="row overflow-auto">
                <div class="col pt-4">
                    <h3><span style="color:#dc3545 ;">#</span>Welcome to our Support and Contact section</h3>
                    <p class="lead">This is the place to go if you've : noticed any bugs you wish to report / need help / want to come in contact with us or have a suggestion/s regarding topics/articles</p>
                    <hr />
                </div>
            </section>
            <section class="row overflow-auto" id="contact">
              <div class="col pt-4">
                  
                  <h3><span style="color:#dc3545 ;">#</span>Contact</h3>
                  <p>If you need help, have some questions or just want to get in contact with us, you can reach us at the following adresses :</p>
                  <ul class="lead" style="list-style-type: none;">
                    <li>
                      <p class=""><span class="text-danger"><i class="bi bi-envelope"></i> Email: </span><u>conspi.wiki@gmail.com</u></p>
                    </li>

                    <li>
                      <p class=""><span class="text-danger"><i class="bi bi-facebook"></i> Facebook: </span><a href="#" class="link-dark" target="_blank"><u>@conspiwiki</u></a></p>
                    </li>

                    <li>
                      <p class=""><span class="text-danger"><i class="bi bi-instagram"></i> Instagram: </span><a href="#" class="link-dark" target="_blank"><u>@conspi.wiki</u></a></p>
                    </li>
                  
            
                  </ul>
              </div>
          </section>

          <section class="row overflow-auto" id="Support">
            <div class="col pt-4">
                
                <h3><span style="color:#dc3545 ;">#</span>Support</h3>
                <p>We put great emphasis on helping users , so that if there is something we should be notified
                  about , we are open to receive it. Our Support system is built on the idea of tickets. 
                  To open a ticket you'll have to fill out the form below. Stating the topic is optional, although
                  very useful and helpful. We do however require the email & name, so that contact
                  is possible from both sides. </p>
                <p> If you wish to know about how your data is handled on this website please click  <a href="/secondarySites/ToS" class="link-danger">here</a> </p>
                <p>Additionaly it is required to choose from the dropdown field which type of ticket (bug, help, contact, suggestion)
                  you want to open. On top of that the subject field is also necessary for further context.
                  All tickets ever created can be accessed on the <a href="/api" class="link-danger"><span class="">'/api'</span></a> routes. With the necessary privacy policy
                  applied to protect your personal data.</p> 
                  <div class="alert alert-danger mt-4" role="alert">
                    Important: Your Email & Name will only be visible to you but they're also required for updating/deleting tickets. Do not share them.  
                  </div>
            </div>
        </section>

          <section class="row overflow-auto pb-lg-5 " id="suggestion"> <!--last paragraph/section should have bottom padding-->
            <div class="col pt-4">
                
                <h3><span style="color:#dc3545 ;">#</span>Suggestions / Tickets</h3>
                <p>If you want to work with us or have suggestions/tipps/inquiries regarding anything on the website (e.g articles , section , categories , new features etc.) let us know by filling out the form below. This will create a ticket wich will be sent to us to work with. If everything goes right you'll receive a confirmation email.</p>
                <div class="suggestion-form-wrapper bg-light text-dark">
                  <div class="suggestion-form ">
                    <form  action="/api/tickets"  method="post" class="my-sm-3" >
    
            
                      <input required type="name" id="name" name="name" placeholder="Name (recommended)" >
                      
    
                      <input type="email" id="input-1" name="email" placeholder="Email (required)" required>
        
                      <input type="text" placeholder="Topic (recommended)" name="topic" >

                      <select name="type" required>
                        <option value="bug">Bug</option>
                        <option value="help">Help</option>
                        <option value="contact">Contact</option>
                        <option value="suggestion">Suggestion</option>
                    </select>
    
                      <textarea placeholder="Subject (required)" name="subject" required id="input-2"></textarea>


                      <input type="submit" value="Submit" name="submit" id="submit">
                    </form>
                  </div>
                </div>
            </div>
        </section>
        </div>
    </div>
  </div>

  <%- include('./partials/footer.ejs')%>
          
  <!--bootstrap js & popper-->    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!--sweet alert-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
  <script src="js/credit.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script>
  $(document).ready(function(){
      $(window).scroll(function(){
          if($(window).scrollTop() < $(window).height()){
              $(".about-nav").css({"background-color":"transparent" , "opacity":"1" });   
          }
          else{
              $(".about-nav").css({"background-color":"black" , "opacity":"0.8" , });
          }

      })
  })


  </script>
  <!--make js above in a seperate file together with an event listener to do something during delay-->
  </body>
</html>